.body{
    margin: 0;
    background-color: #F1F1F1 ;
}

.header{

    background-color: white;
}

hr{
    margin-top: 0px;
    display: flex;
    border: 0;
    /* height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0)); */
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
}

.headnav{
    display: flex;
    align-items: center;
    width: 50%;
}

.headnav .dev_icon{
    display: flex;
    width: 65px;
    height: 65px; 
}

.headnav .search-bar{
    display: flex;
    padding: 9px;
    width: 250px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;

}

.headnav-links{
    display: flex;
    align-items: center;
    width: 12%;
    justify-content: space-between;
}

.headnav-links #write_post{
    display: flex;
    background-color:#3b49df ;
    padding: 12px;
    border: 0;
    margin: 0 15px 0 0;
    border-radius: 5px;

}

.headnav-links #connect{
    display: flex;
    margin: 0 15px 0 0;
}

.headnav-links #notifications{
    display: flex;
    margin: 0 15px 0 0;
}

.headnav-links #menu{
    display: flex;
}

.box-headnav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.container{
    display: flex;
    width: 70%;
    margin: auto;
}

.box-sidebar a:link{
    color:black;
    text-decoration: none;
}

.box-sidebar a:hover{
    color: blue;
}

.nav-sidebar{
    display: flex;
    width: 20%;
    flex-flow: column wrap;
}

@media screen and (max-width: 1000px){
    .nav-sidebar{
        display: none;
    }
    .div-middle{
        width: 100%;
    }
}

.box-sidebar{
    width: auto;
    height: 240px;
    /* margin-left: 335px; */
}

.nav-sidebar .box-sidebar .sign{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.nav-sidebar .box-sidebar .side-choice{
    font-size: 17px;
    text-decoration: none;
}

.nav-sidebar .box-sidebar .nav-side-choice{
    vertical-align: middle;
    margin: 4px 0 10px 0;
}


.nav-sidebar .box-sidebar .nav-side-more{
    display: flex;
    margin: 8px 0 0 8%;
}

.nav-sidebar .design-experience .design-experience-list .design-experience-title{
    display: flex;
    font-weight: bold;
}

.nav-sidebar .design-experience .design-experience-list{
    display: flex;
    flex-flow: column ;
    height: 425px;
    width: auto;
    overflow: hidden;
    overflow-y: scroll;
}

.nav-sidebar .design-experience-list .design-experience-choice{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.div-middle{
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.div-middle .div-middle-head{
    display: flex;
    height: 5%;
    width: 100%;
    align-items: center;

}

.div-middle .posts{
    display: flex;
    height: auto;
    width: 100%; 
    font-size: 20px;
    font-weight: bold;
}

.div-middle .nav-time{
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: row;
    justify-content: flex-end;
}

@media screen and (max-width: 1150px){
    .div-middle .nav-time{
        display: none;
    }
}


.div-middle .nav-time .nav-time-choice{
    display: flex;
    height: auto;
    color: black;
    font-size: 17px;
    text-decoration: none;
    margin: 0px 17px 0px 9px;
    
}

.div-middle .first-post{
    display: flex;
    width: auto;
    height: auto;
    flex-flow: column wrap;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.div-middle .first-post-head{
    display: flex;
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

.div-middle .codes{
    display: flex;
    width: 100%;
    height: auto;
}

.div-middle .first-post-description{
    display: flex;
    padding: 16px;
    flex-flow: column wrap;
}

.div-middle .first-post-description-head{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
}

.div-middle .first-post-description-head p{
    display: flex;
    margin: 0;
}

.div-middle .first-post-description .first-post-title{
    display: flex;
    width: auto;
    height: 70px;
    flex-flow: column wrap;
}

.div-middle .post-category{
    display: flex;
    width: auto;
    height: auto;
    padding: -50px 0 0 5px;

}

.div-middle .post-category p{
    display: flex;
    margin: 0 15px 0 0;
    justify-content: space-around;
}

.div-right{
    display: flex;
    width: 27%;
    height: 100%;
    flex-direction: column;
    /* justify-content: center; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

@media screen and (max-width: 1400px){
    .div-right{
        display: none;
    }
    .div-middle{
        width: 87%;
    }

}

.div-right .join-dev{
    display: flex;
    justify-content: left;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}

.div-right .join-dev-title{
    padding-left: 9px;
    font-weight: bold;
    
}

.div-right .sign-section{
    display: flex;
    width: 100%;
    flex-flow: column wrap; 
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


}

.div-right .sign-GitHub{
    display: flex;
    background-color: #24292e;
    justify-content: center;
    margin: 10px 10px 5px 10px;
    padding: 8px;
    font-weight: bold;
    border-radius: 4px;
}

.div-right .sign-Twitter{
    display: flex;
    background-color: #1da1f2;
    justify-content: center;
    margin: 5px 10px 10px 10px;
    padding: 8px;
    font-weight: bold;
    border-radius: 4px;
}

.sign-section a:link{
    text-decoration: none;
    color: white;
}

.div-right .img-right-sign{
    vertical-align: middle;
    padding-right: 8px;
}



